@using MvcStok.Models.Entity

@model List<TBLURUNLER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<table id="tbl1" class="table table-bordered">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Company Name</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var urn in Model)
        {
            <tr>
                <th>@urn.URUNID</th>
                <td>@urn.URUNAD</td>
                <td>@urn.TBLKATEGORILER.KATEGORIAD</td>
                <td>@urn.FIYAT</td>
                <td>@urn.STOK</td>
                <td>@urn.MARKA</td>
                <td><a href="/URUN/SIL/@urn.URUNID" class="btn btn-danger">Delete</a></td>
                <td><a href="/URUN/UrunGetir/@urn.URUNID" class="btn btn-success">Update</a></td>
            </tr>
        }
    </tbody>
</table>


<a href="/Urun/UrunEkle/" class="btn btn-primary">Add new product</a>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<link href="~/Content/DataTables/css/dataTables.bootstrap4.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />

<script>
    $('#tbl1').DataTable();
</script>