@model MvcStok.Models.Entity.TBLURUNLER
@{
    ViewBag.Title = "UrunGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Guncelle", "Urun", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.URUNID)
        @Html.TextBoxFor(m => m.URUNID, new { @class = "form-control" })
        <br />
         Product name
        @Html.TextBoxFor(m => m.URUNAD, new { @class = "form-control" })
        <br />
        Category
        @Html.DropDownListFor(m => m.TBLKATEGORILER.KATEGORIID, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
        @*@Html.TextBoxFor(m => m.URUNKATEGORI, new { @class = "form-control" })*@
        <br />
        Price
        @Html.TextBoxFor(m => m.FIYAT, new { @class = "form-control" })
        <br />
        Stock
        @Html.TextBoxFor(m => m.STOK, new { @class = "form-control" })
        <br />
        Company
        @Html.TextBoxFor(m => m.MARKA, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-warning">Müşteri Güncelle</button>
    </div>
}

